<section>
    <div class="heading">
        <h1>WHAT CAN I OFFER?</h1>
        <h2>No project is ever too big</h2>
    </div>>
    <div class="services-container">
        @for (service of services1; track service) {
        <div class="service" [style.background-image]="'url(' + service.imageUrl + ')'">
            <h2 class="title">{{ service.title }}</h2>
            <div class="hidden-element">
                <!-- {{ service.hiddenText }} -->
                <p>{{ service.description }}</p>
                <a class="action-button"> LETS TALK!</a>
            </div>
        </div>
        }
    </div>

    <div class="services-container">
        @for (service of services2; track service) {
        <div class="service" [style.background-image]="'url(' + service.imageUrl + ')'">
            <h2 class="title">{{ service.title }}</h2>
            <div class="hidden-element">
                <!-- {{ service.hiddenText }} -->
                <p>{{ service.description }}</p>
                <a class="action-button"> LETS TALK!</a>
            </div>
        </div>
        }
    </div>
</section>