/* section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-category {
    font-family: 'D-DIN Bold';
    font-size: 50px;
    margin: 50px;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-height: 500px;
}


.service {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

.title {
    font-family: 'D-DIN Bold';
    margin: 10px 0px 10px 0px;
}

.image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.3s;
}

.image-container img:hover {
    opacity: 1;
    transition: 0.9s;
} */


.service-category {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    justify-content: center;
}

.service {
    width: 33.3%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.service h2 {
    font-family: 'D-DIN Bold';
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    z-index: 1;
    transition: transform 0.3s ease;
}

.service p {
    z-index: 1;
}

.service::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden-text {
    opacity: 0;
    /* Start hidden */
    margin-top: 20px;
    transition: opacity 0.5s ease;
    /* Smooth fade-in effect */
    z-index: 1;
    display: none;
    text-align: center;
}

.learn-more-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
    background-color: #444;
    color: #fff;
    transition: 0.3s;
}

.service:hover h2 {
    transition: 0.5s;
    transform: translateY(-20px);
    /* Title moves up */
}

.service:hover .hidden-text {
    opacity: 1;
    /* Make the text visible on hover */
    display: block;
    /* Ensure it's displayed */
    transition: opacity 0.5s ease;
    /* Smooth fade-in effect */
}



.hidden-element {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hover-container:hover .hidden-element {
    opacity: 1;
}